<h2>Contact Helpdesk</h2>
<form id="contact-form" name="contact-form">
    <div class="input-screen-card">
        <hr>
        <h3>Have to add option to select any other User to respond to</h3>
        <br>
        <div class="row">
            <div class="input-user-to">
                <label style="margin-left: 2rem; font-weight: bold; ">User To: </label>
                <input class="form-control" id="inputScreenSendTo"  name='send_to' placeholder="Input User..." value="helpdesk">
            </div>
            <div class="input-screen-field">
                <textarea class="form-control" id="message"  name='message' placeholder="Say Something..." required></textarea>
            </div>
            <div class="input-screen-submit-div">
                <button type="submit" class="input-screen-submit-btn" id="input-screen-submit-btn">send</button>
            </div>
            <input class="form-control" id="relatedMessageId"  name='related_message_id'  hidden>

        </div>
    </div>
</form>
