<h2>Contact Helpdesk</h2>
<form id="contact-form" name="contact-form">
    <div class="input-screen-card">
        <hr>
        
        <br>
        <div class="row">
            <div class="input-screen-field">
                <input class="form-control" id="message"  name='message' placeholder="Say Something..." required></textarea>
            </div>
            <div class="input-screen-submit-div">
                <button type="submit" class="input-screen-submit-btn" id="input-screen-submit-btn">send</button>
            </div>

        </div>
    </div>
</form>