    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard/css/inbox.css' %}">

</head>
<body>
<section class="content">
    <div class="user-profile-container">
        <h1>Inbox</h1>
        <br>
        <table class="rwd-table" id="rwd-table">
            <thead>
                <tr class="inbox-heading" id="inbox-heading">
                    <th>Message From</th>
                    <th>Message</th>
                    <th>Date</th>
                    <th>Read Flag</th>
                    <th>Read Message</th>
                    <th>Reply</th>
                </tr>
            </thead>
            <tbody></tbody>

        </table>
    </div>
</section>
</body>
</html>