<body>
    <section class="content">
        <div class="user-profile-container">
            <h2 class='inbox-read-from-user' id='inboxReadFromUser'></h2>
            <br>
            <br>
            <p class='inbox-read-message' id='inboxReadMessage'></p>
            <br>
            <p class='inbox-read-date' id='inboxReadDate'></p>
            <p class='inbox-read-message-id' id='inboxReadMessageId' hidden></p>
            <p class='inbox-read-to-user' id='inboxReadToUser' hidden></p>
            <button class="replyBtn row-data" onclick="contactUsPayloadFieldShow('field_populate', 'inbox')" style="margin-top: 2rem;">Back</button>
        </div>
    </section>
</body>
