<body>
<section class="content">
    <div class="user-profile-container">
    <h1>Terms & Conditions...</h1>
    <h2>1.	The Services</h2>
    <p>NEURA SA Holdings (Pty) Ltd (Registration Number 2019/563089/07) is appointed by the Client to measure the consumption of electricity and/or gas and/or water by means of the NEURA system (a suite of electronically read meters, read at regular intervals). In addition, to calculate the respective charges for utilities supplied and to bill the customer for such amounts consumed.</p>
    <br>

    <h2>2.	Definitions</h2>
    <h3>THE COMPANY</h3>
    <p>means NEURA SA Holdings (Pty) Ltd and includes all its subsidiaries.</p>
    <br>
    <h3>THE CLIENT</h3>
    <p>shall mean that party instructing the Company to render the services alternatively the party at whose special instance and request the services are rendered. </p>
    <br>
    <h3>METER READING RETURN</h3>
    <p>hereinafter referred to as a "return" means the statement reflecting the reading(s) and charges calculated performed by the Company of the meter(s).</p>
    <br>
    <h2>3.	Delivery Of Return</h2>
    <p>The return shall be furnished by the Company to the Client electronically.</p>
    <br>
    <h2>4.	Green Power</h2>
    <p>The Client agrees that the Company can supply it with renewable electricity, wheeled to its premises, as an alternative to Municipally supplied electricity, as long as such power is equal to or less the cost of the Municipal electricity.</p>
    <br>
    <h2>5.	No Liability</h2>
    <p> Whilst the Company undertakes to use its reasonable endeavours to ensure that all services rendered in accordance with the Agreement and expected of a meter reading enterprise are rendered timeously and accurately, no liability of whatsoever nature, unless the client can show otherwise e.g. gross negligence on the part of the Company, shall attach to the Company, it’s Employees, Agents, Sub-contractors, Partners for any mistake, error or omission nor does the Company in any way guarantee the correctness or accuracy of the return(s).</p>
    <br>
    <h2>6.	Indemnity</h2>
    <p>Unless otherwise contained herein the Client hereby indemnifies the Company against any loss of whatsoever nature that it may suffer as a result of any breach by the Client of any of the Terms and Conditions of this Agreement.</p>
    <br>
    <h2>7.	Waiver</h2>
    <p>The Client expressly waives and renounces any rights of whatsoever nature that it may have against the Company for any loss suffered by it as a result of any return or information supplied by the Company being incorrect / incomplete / inaccurate or late.</p>
    <br>
    <h2>8.	Meter Reading Fee</h2>
    <p>The meter reading fee is based on the location of the building / property and the number of meters to be read. Although the fee is set each year in January should the number of meters to be read increase or decrease the fee shall be adjusted accordingly.</p>
    <br>
    <h2>9.	Duration</h2>
    <p>The Contract between the Company and the Client for the services shall continue on an indefinite basis subject by termination by either party of not less than thirty (60) days written notice to the other.</p>
    <br>
    <h2>10.	Changes</h2>
    <p>Should the Client wish to correct any allocation of any meter / charges / designation / locality or any other aspect of a return, such change shall be conveyed by the Client to the Company in writing. In this regard it shall be the further obligation of the Client to advise the Company in writing of any buildings sold or any changes in the composition of the Client which may affect payment or the liability for payment of the Company's account.</p>
    <br>
    <p>Should the Client fail to do so, the Client accepts that until such time as the Company has been notified in writing any liability for payment shall rest solely and exclusively with the Client. The Company shall endeavour to effect the changes requested within thirty (30) days of the date of written notification by the Client.</p>
    <br>
    <h2>11.	Default</h2>
    <p>The Company shall be entitled to suspend, on such terms as it deems appropriate, the rendering of any or all services to the Client, without notice, in the event of the Client being in default of its obligations in respect of payment to the Company</p>
    <br>
    <h2>12.	Set-off</h2>
    <p>The Client's obligations in respect of payment are absolute and are not subject to set-off or reduction for any reason.</p>
    <br>
    <h2>13.	Cession, Assignment and Delegation</h2>
    <p>The Company shall be entitled to cede, assign and / or delegate to any third party any or all of its rights or obligations arising from this Agreement.</p>
    <br>
    <p>The Client shall not be entitled to cede, assign, or delegate any of its rights or obligations arising from this Agreement without the written consent of the Company.</p>
    <br>
    <h2>14.	Jurisdiction</h2>
    <p>The Company shall be entitled to institute any proceedings against the Client arising out of this Contract for the breach thereof in any Magistrate's Court having jurisdiction over the Client even though the cause of action or amount involved may exceed the jurisdiction of such Court. In such event the Client shall be liable for all legal costs on the Attorney and own Client Scale inclusive of collection commission and Tracing Agents fees incurred by the Company in enforcing its rights hereunder.</p>
    <br>
    <h2>15.	Whole Agreement</h2>
    <p>These Terms and Conditions constitute the whole agreement entered into between the parties and no consensual cancellation or variation shall be valid unless reduced in writing and signed by the parties.</p>
    <br>
    <h2>16.	No Warranties</h2>
    <p>The Company has not given any Undertakings or Warranties or made any representations to the Client other than those which are specifically set out in the terms of the Agreement.</p>
    <br>
    <h2>17.	Domicillium</h2>
    <p>The parties choose their respective domicillium citandi executandi for all purposes arising from the Agreement, the addresses as set out as advised or such other address as may be substituted by either party on written notice to the other from time to time. Notwithstanding this requirement, written notice or communication actually received by a party shall be adequate written notice or communication to it even though that such notice or notification was not sent to or delivered to the chosen domicillium citandi executandi.</p>
    <br>
    <h2>18.	Breach</h2>
    <p>Should the Client or the Company fail to comply with any of its obligations arising from this Agreement or commit any act of insolvency or attempt to compromise with any of its Creditors or allow any Judgment against it to remain unsatisfied, the Client or the Company shall have the right, without prejudice to any other right which it may have in law, to cancel the Agreement without any prior notice to the Client / Company, in which event the Client / Company shall pay direct to the Client / Company, on demand, any arrear amounts due on the date of cancellation together with any legal costs which may have been incurred.</p>
    <br>
    <h2>19.	VAT</h2>
    <p>The Client shall be liable for the payment of Value Added Tax (VAT) from time to time in respect of any amount due in terms of this Agreement or any other form of Tax that may be imposed and be payable in place of such VAT or in addition thereto.</p>

 
    <br>
    <br>
    <br>
    <div class="tnc-link">
        
    </div>
    </div>
</section>
</body>
</html>