<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
</head>
<body>
   <!--<a href="{% url 'account_login' %}" class="btn btn-primary" style="margin-left: 20px;">Login <i class="fas fa-chevron-right"></i></a>--> 

    <a href="{% url 'account_signup' %}" class="btn btn-warning btn-block" style="margin-left: 20px;">Register<i class="fas fa-chevron-right"></i></a>

</body>
</html>